<div class="row" style="padding-top: 15px;">
    <!-- <button ng-click="gravarhist()">nova consulta</button> botao de teste -->
    <div class="col-sm-1">
        <p style="font-weight: bold; font-size: 35px; top: 8px; left: 53px; position: absolute;">#1</p>
    </div>
    <div class="col-sm-2">
        <label>Data</label>
        <input type="text" class="form-control text-center" moment-picker="clientHist.meta01.metaDate" 
                        locale="pt"
                        format="L"
                        max-view="day"
                        start-view="month"
                        autoclose="true"
                        today="true"
                        keyboard="true" ng-model="hist.metadate_01">
        <!--<input class="form-control" type="text" ng-model="clientHist.quizhis_1_1" style="display: inline-flex; width: 30%;">-->
    </div>
    <!-- <div class="col-sm-2">
        <label>Tipo de Contacto</label>
        <select ng-model="clientHist.quizhis_1_3" class="form-control" id="" ng-options="x for x in contactTypeList">
        </select>
    </div> -->
    <div class="col-sm-2">
        <button ng-click="showMetas01()" class="buttonMetas">Consultar Meta Funcional</button>
    </div>
</div>

<div class="row" style="margin: 15px 0;">
    <div style="border-bottom: 3px grey solid; width: 100%; margin:auto;"></div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-1">
        <p style="font-weight: bold; font-size: 35px; top: 8px; left: 53px; position: absolute;">#2</p>
    </div>
    <div class="col-sm-2">
        <label>Data</label>
        <input type="text" class="form-control text-center" moment-picker="clientHist.meta02.metaDate" 
                        locale="pt"
                        format="L"
                        max-view="day"
                        start-view="month"
                        autoclose="true"
                        today="true"
                        keyboard="true" ng-model="hist.metadate_02">
        <!--<input class="form-control" type="text" ng-model="clientHist.quizhis_1_1" style="display: inline-flex; width: 30%;">-->
    </div>
    <!-- <div class="col-sm-2">
        <label>Tipo de Contacto</label>
        <select ng-model="clientHist.quizhis_2_3" class="form-control" id="" ng-options="x for x in contactTypeList">
        </select>
    </div> -->
    <div class="col-sm-2">
        <button ng-click="showMetas02()" class="buttonMetas">Consultar Meta Funcional</button>
    </div>
</div>

<div class="row" style="margin: 15px 0;">
    <div style="border-bottom: 3px grey solid; width: 100%; margin:auto;"></div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-1">
        <p style="font-weight: bold; font-size: 35px; top: 8px; left: 53px; position: absolute;">#3</p>
    </div>
    <div class="col-sm-2">
        <label>Data</label>
        <input type="text" class="form-control text-center" moment-picker="clientHist.meta03.metaDate" 
                        locale="pt"
                        format="L"
                        max-view="day"
                        start-view="month"
                        autoclose="true"
                        today="true"
                        keyboard="true" ng-model="hist.metadate_03">
        <!--<input class="form-control" type="text" ng-model="clientHist.quizhis_1_1" style="display: inline-flex; width: 30%;">-->
    </div>
    <!-- <div class="col-sm-2">
        <label>Tipo de Contacto</label>
        <select ng-model="clientHist.quizhis_3_3" class="form-control" id="" ng-options="x for x in contactTypeList">
        </select>
    </div> -->
    <div class="col-sm-2">
        <button ng-click="showMetas03()" class="buttonMetas">Consultar Meta Funcional</button>
    </div>
</div>

<div class="row" style="margin: 15px 0;">
    <div style="border-bottom: 3px grey solid; width: 100%; margin:auto;"></div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-1">
        <p style="font-weight: bold; font-size: 35px; top: 8px; left: 53px; position: absolute;">#4</p>
    </div>
    <div class="col-sm-2">
        <label>Data</label>
        <input type="text" class="form-control text-center" moment-picker="clientHist.meta04.metaDate" 
                        locale="pt"
                        format="L"
                        max-view="day"
                        start-view="month"
                        autoclose="true"
                        today="true"
                        keyboard="true" ng-model="hist.metadate_04">
        <!--<input class="form-control" type="text" ng-model="clientHist.quizhis_1_1" style="display: inline-flex; width: 30%;">-->
    </div>
    <!-- <div class="col-sm-2">
        <label>Tipo de Contacto</label>
        <select ng-model="clientHist.quizhis_4_3" class="form-control" id="" ng-options="x for x in contactTypeList">
        </select>
    </div> -->
    <div class="col-sm-2">
        <button ng-click="showMetas04()" class="buttonMetas">Consultar Meta Funcional</button>
    </div>
</div>

<div class="row" style="margin: 15px 0;">
    <div style="border-bottom: 3px grey solid; width: 100%; margin:auto;"></div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-1">
        <p style="font-weight: bold; font-size: 35px; top: 8px; left: 53px; position: absolute;">#5</p>
    </div>
    <div class="col-sm-2">
        <label>Data</label>
        <input type="text" class="form-control text-center" moment-picker="clientHist.meta05.metaDate" 
                        locale="pt"
                        format="L"
                        max-view="day"
                        start-view="month"
                        autoclose="true"
                        today="true"
                        keyboard="true" ng-model="hist.metadate_05">
        <!--<input class="form-control" type="text" ng-model="clientHist.quizhis_1_1" style="display: inline-flex; width: 30%;">-->
    </div>
    <!-- <div class="col-sm-2">
        <label>Tipo de Contacto</label>
        <select ng-model="clientHist.quizhis_5_3" class="form-control" id="" ng-options="x for x in contactTypeList">
        </select>
    </div> -->
    <div class="col-sm-2">
        <button ng-click="showMetas05()" class="buttonMetas">Consultar Meta Funcional</button>
    </div>
</div>
<!-- #6 -->
<div class="row" style="margin: 15px 0;">
    <div style="border-bottom: 3px grey solid; width: 100%; margin:auto;"></div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-1">
        <p style="font-weight: bold; font-size: 35px; top: 8px; left: 53px; position: absolute;">#6</p>
    </div>
    <div class="col-sm-2">
        <label>Data</label>
        <input type="text" class="form-control text-center" moment-picker="clientHist.meta06.metaDate" 
                        locale="pt"
                        format="L"
                        max-view="day"
                        start-view="month"
                        autoclose="true"
                        today="true"
                        keyboard="true" ng-model="hist.metadate_06">
        <!--<input class="form-control" type="text" ng-model="clientHist.quizhis_1_1" style="display: inline-flex; width: 30%;">-->
    </div>
    <!-- <div class="col-sm-2">
        <label>Tipo de Contacto</label>
        <select ng-model="clientHist.quizhis_6_3" class="form-control" id="" ng-options="x for x in contactTypeList">
        </select>
    </div> -->
    <div class="col-sm-2">
        <button ng-click="showMetas06()" class="buttonMetas">Consultar Meta Funcional</button>
    </div>
</div>
<!-- #7 -->
<div class="row" style="margin: 15px 0;">
    <div style="border-bottom: 3px grey solid; width: 100%; margin:auto;"></div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-1">
        <p style="font-weight: bold; font-size: 35px; top: 8px; left: 53px; position: absolute;">#7</p>
    </div>
    <div class="col-sm-2">
        <label>Data</label>
        <input type="text" class="form-control text-center" moment-picker="clientHist.meta07.metaDate" 
                        locale="pt"
                        format="L"
                        max-view="day"
                        start-view="month"
                        autoclose="true"
                        today="true"
                        keyboard="true" ng-model="hist.metadate_07">
        <!--<input class="form-control" type="text" ng-model="clientHist.quizhis_1_1" style="display: inline-flex; width: 30%;">-->
    </div>
    <!-- <div class="col-sm-2">
        <label>Tipo de Contacto</label>
        <select ng-model="clientHist.quizhis_6_3" class="form-control" id="" ng-options="x for x in contactTypeList">
        </select>
    </div> -->
    <div class="col-sm-2">
        <button ng-click="showMetas07()" class="buttonMetas">Consultar Meta Funcional</button>
    </div>
</div>
<!-- #8 -->
<div class="row" style="margin: 15px 0;">
    <div style="border-bottom: 3px grey solid; width: 100%; margin:auto;"></div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-1">
        <p style="font-weight: bold; font-size: 35px; top: 8px; left: 53px; position: absolute;">#8</p>
    </div>
    <div class="col-sm-2">
        <label>Data</label>
        <input type="text" class="form-control text-center" moment-picker="clientHist.meta08.metaDate" 
                        locale="pt"
                        format="L"
                        max-view="day"
                        start-view="month"
                        autoclose="true"
                        today="true"
                        keyboard="true" ng-model="hist.metadate_08">
        <!--<input class="form-control" type="text" ng-model="clientHist.quizhis_1_1" style="display: inline-flex; width: 30%;">-->
    </div>
    <!-- <div class="col-sm-2">
        <label>Tipo de Contacto</label>
        <select ng-model="clientHist.quizhis_6_3" class="form-control" id="" ng-options="x for x in contactTypeList">
        </select>
    </div> -->
    <div class="col-sm-2">
        <button ng-click="showMetas08()" class="buttonMetas">Consultar Meta Funcional</button>
    </div>
</div>
<!-- #9 -->
<div class="row" style="margin: 15px 0;">
    <div style="border-bottom: 3px grey solid; width: 100%; margin:auto;"></div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-1">
        <p style="font-weight: bold; font-size: 35px; top: 8px; left: 53px; position: absolute;">#9</p>
    </div>
    <div class="col-sm-2">
        <label>Data</label>
        <input type="text" class="form-control text-center" moment-picker="clientHist.meta09.metaDate" 
                        locale="pt"
                        format="L"
                        max-view="day"
                        start-view="month"
                        autoclose="true"
                        today="true"
                        keyboard="true" ng-model="hist.metadate_09">
        <!--<input class="form-control" type="text" ng-model="clientHist.quizhis_1_1" style="display: inline-flex; width: 30%;">-->
    </div>
    <!-- <div class="col-sm-2">
        <label>Tipo de Contacto</label>
        <select ng-model="clientHist.quizhis_6_3" class="form-control" id="" ng-options="x for x in contactTypeList">
        </select>
    </div> -->
    <div class="col-sm-2">
        <button ng-click="showMetas09()" class="buttonMetas">Consultar Meta Funcional</button>
    </div>
</div>
<!-- #10 -->
<div class="row" style="margin: 15px 0;">
    <div style="border-bottom: 3px grey solid; width: 100%; margin:auto;"></div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-1">
        <p style="font-weight: bold; font-size: 35px; top: 8px; left: 53px; position: absolute;">#10</p>
    </div>
    <div class="col-sm-2">
        <label>Data</label>
        <input type="text" class="form-control text-center" moment-picker="clientHist.meta10.metaDate" 
                        locale="pt"
                        format="L"
                        max-view="day"
                        start-view="month"
                        autoclose="true"
                        today="true"
                        keyboard="true" ng-model="hist.metadate_10">
        <!--<input class="form-control" type="text" ng-model="clientHist.quizhis_1_1" style="display: inline-flex; width: 30%;">-->
    </div>
    <!-- <div class="col-sm-2">
        <label>Tipo de Contacto</label>
        <select ng-model="clientHist.quizhis_6_3" class="form-control" id="" ng-options="x for x in contactTypeList">
        </select>
    </div> -->
    <div class="col-sm-2">
        <button ng-click="showMetas10()" class="buttonMetas">Consultar Meta Funcional</button>
    </div>
</div>
<!-- #11 -->
<div class="row" style="margin: 15px 0;">
    <div style="border-bottom: 3px grey solid; width: 100%; margin:auto;"></div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-1">
        <p style="font-weight: bold; font-size: 35px; top: 8px; left: 53px; position: absolute;">#11</p>
    </div>
    <div class="col-sm-2">
        <label>Data</label>
        <input type="text" class="form-control text-center" moment-picker="clientHist.meta11.metaDate" 
                        locale="pt"
                        format="L"
                        max-view="day"
                        start-view="month"
                        autoclose="true"
                        today="true"
                        keyboard="true" ng-model="hist.metadate_11">
        <!--<input class="form-control" type="text" ng-model="clientHist.quizhis_1_1" style="display: inline-flex; width: 30%;">-->
    </div>
    <!-- <div class="col-sm-2">
        <label>Tipo de Contacto</label>
        <select ng-model="clientHist.quizhis_6_3" class="form-control" id="" ng-options="x for x in contactTypeList">
        </select>
    </div> -->
    <div class="col-sm-2">
        <button ng-click="showMetas11()" class="buttonMetas">Consultar Meta Funcional</button>
    </div>
</div>
<!-- #12 -->
<div class="row" style="margin: 15px 0;">
    <div style="border-bottom: 3px grey solid; width: 100%; margin:auto;"></div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-1">
        <p style="font-weight: bold; font-size: 35px; top: 8px; left: 53px; position: absolute;">#12</p>
    </div>
    <div class="col-sm-2">
        <label>Data</label>
        <input type="text" class="form-control text-center" moment-picker="clientHist.meta12.metaDate" 
                        locale="pt"
                        format="L"
                        max-view="day"
                        start-view="month"
                        autoclose="true"
                        today="true"
                        keyboard="true" ng-model="hist.metadate_12">
        <!--<input class="form-control" type="text" ng-model="clientHist.quizhis_1_1" style="display: inline-flex; width: 30%;">-->
    </div>
    <!-- <div class="col-sm-2">
        <label>Tipo de Contacto</label>
        <select ng-model="clientHist.quizhis_6_3" class="form-control" id="" ng-options="x for x in contactTypeList">
        </select>
    </div> -->
    <div class="col-sm-2">
        <button ng-click="showMetas12()" class="buttonMetas">Consultar Meta Funcional</button>
    </div>
</div>