<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center">#1 Metas Medicina Funcional e Saúde</h2>
    </div>
</div>
<!-- <div class="row">
    <div class="col-sm-2">
        <p>Data Consulta</p>
    </div>
    <div class="col-sm-10">
        <p>Nome</p>
    </div>
</div> -->
<div class="row">
    <div class="col-sm-1">
        <button ng-click="newReport2()" style="background-color: orange; border: 0; margin-top: 17px;">Copiar para próx. meta</button>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="metaProgram">Programa</label>
            <select ng-model="clientHist.meta01.metaProgram" class="form-control" id="metaProgram" ng-options="x for x in metaProgram"></select>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="form-group">
            <label for="metaObjective">Objetivo</label>
            <input ng-mode="clientHist.meta01.metaObjective" type="text" class="form-control" id="metaObjetive">
        </div>
    </div>
    
    <div class="col-sm-2">
        <div class="form-group">
            <label for="metaData">Data Prox. Consulta</label>
            <input ng-model="clientDetail.proxConsult" type="text" class="form-control" id="metaData" readonly>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center">Etapas</h2>
    </div>
    <div class="col-sm-2 col-sm-offset-3">
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientHist.meta01.meta_etapa" value="1">
                Etapa 1 Adaptação
            </label>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientHist.meta01.meta_etapa" value="2">
                Etapa 2 Desenvolvimento
            </label>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientHist.meta01.meta_etapa" value="3">
                Etapa 3 Consolidação
            </label>
        </div>
    </div>
</div>

<!-- egjdfilhdfhdjlhfjdhgjehgjkefhgdfhgjsdhjdfhgjjkhdfjkghdfhgjkdfgjkdfhgjkdfjkghdfjhgjdfhgjdfhgjkhdfjkghdf-->

<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #ffd900; padding: 5px 15px;">
            <p style="color: #ffd900; font-weight: bold; font-size: 20px; margin: 0;">PSICOLOGIA E LIFE COACHING</p>
        </div>
        <div style="border-bottom: 1px solid black; padding: 10px 15px;">
            <p style="margin: 0;">Nesta área procuramos a capacitação dos clientes na sua auto realização, pelo alcance das suas metas, alinhando-as para uma vida equilibrada com os seus valores, missão e propósito de vida.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #ffd900; padding: 5px 15px; margin: 15px 0 10px 0;">
            <p style="color: #ffd900; font-weight: bold; font-size: 20px; margin: 0;">METAS A ATINGIR</p>
        </div>
    </div>
</div>
<!-- <div class="row" style="background-color: #ffec80; margin: 0;">
    <div class="col-sm-3">
        <p>Realizar atividades preferidas</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_01" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_01" value="2">
                    10 a 30 minutos
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_01" value="3">
                    3 ou 4 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_01" value="4">
                    Todos os dias
                </label>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="row" style="margin: 0 0 10px 0;">
    <div class="col-sm-12" style="background-color: #ffec80; padding: 0;"> -->
<div class="row" style="background-color: #ffec80; margin: 0 0 10px 0;">    
    <div class="col-sm-3">
        <p>1) Tirar tempo para mim</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_01" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_01" value="2">
                    15 a 30 minutosdias
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_01" value="3">
                    1 a 2 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_01" value="4">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="background-color: #fff7cc;">
        <p style="margin: 0; padding: 0 0 5px 0; font-size: 12px;">Sugestão de leitura “Otimizar o hora de almoço: <a href="https://healthyhabits.pt/otimize-hora-almoco/" target="_blank">Link</a></p>
    </div>
</div>
<div class="row" style="background-color: #ffec80; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>2) Gerir tempo</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_02" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_02" value="2">
                    Pausa do dia
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_02" value="3">
                    Diariamente
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_02" value="4">
                    Semanalmente
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #ffec80; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>3) Passear</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_03" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_03" value="2">
                    15 a 30 minutos
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_03" value="3">
                    1 a 2 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_03" value="4">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #ffec80; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>4) Atividade Relaxante</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_04" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_04" value="2">
                    15 a 30 minutos
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_04" value="3">
                    1 a 2 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_04" value="4">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #ffec80; margin: 0;">
    <div class="col-sm-3">
        <p>5) Gerir stress</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_05" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_05" value="2">
                    15 a 30 minutos
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_05" value="3">
                    1 a 2 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_05" value="4">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="background-color: #fff7cc;">
        <p style="margin: 0; padding: 0 0 5px 0; font-size: 12px;">Sugestão de leitura “Dicas para uma boa noite de sono: <a href="https://healthyhabits.pt/dicas-simples-boa-noite-sono/" target="_blank">Link</a></p>
    </div>
</div>
<div class="row" ng-show="adminMetas">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #ffd900; padding: 5px 15px; margin: 15px 0 0 0;">
            <p style="color: #ffd900; font-weight: bold; font-size: 20px; margin: 0;">Material de apoio: (disponível só na administração)</p>
        </div>
    </div>
    <div class="col-sm-12" style="margin-left: 15px;">   
        <p>1) Ouvir música quando chegar a casa; Descalçar/deitar-se e refletir por um tempo; Ler um livro; Ir ao cabeleireiro/esteticista; Chegar a casa e parar 15minutos para não "fazer nada"/"organizar ideias";</p>
        <p>2) Listar prioridades/tarefas do dia; Comprar uma agenda; Anotar tarefas agenda gmail;</p>
        <p>3) Praia, campo, parques</p>
        <p>4) Meditação, pilates, yoga, spa 1x/mês</p>
        <p>5) Adotar um animal; Powernap; bola anti-stress; Técnicas de respiração; PARAR e REFLETIR; Massagem de relaxamento; Banho com espuma ao chegar a casa;</p>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #ffd900; padding: 5px 15px; margin: 15px 0 10px 0;">
            <p style="color: #ffd900; font-weight: bold; font-size: 20px; margin: 0;">SUPLEMENTOS</p>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="checkbox" style="display: inline-flex;">
            <label>
                <input type="checkbox" ng-model="clientHist.meta01.suplementHidro.hidro1">
                Maltodextrina
                <a href="https://www.prozis.com/pt/pt/prozis-sport/maltodextrina-2000g" target="_blank">Saber mais</a>
            </label>
            <p style="margin: 0 15px;">Posologia: Misturar 1 scoop(40g) + 400ml água</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="checkbox" style="display: inline-flex;">
            <label>
                <input type="checkbox" ng-model="clientHist.meta01.suplementHidro.hidro2">
                Dextrose
                <a href="https://www.prozis.com/pt/pt/prozis-sport/dextrose-2000-g" target="_blank">Saber mais</a>
            </label>
        </div>
    </div>

   
</div>


<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #ffd900; padding: 5px 15px; margin: 15px 0 10px 0;">
            <p style="color: #ffd900; font-weight: bold; font-size: 20px; margin: 0;">OBSERVAÇÕES</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <textarea ng-model="clientHist.meta01.meta_03_obs"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #ffd900; padding: 5px 15px; margin: 15px 0 10px 0;">
            <p style="color: #ffd900; font-weight: bold; font-size: 20px; margin: 0;">CONTEÚDOS DE APOIO</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <textarea ng-model="clientHist.meta01.meta_03_contApoio"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #ffd900; padding: 5px 15px; margin: 15px 0 0 0;">
            <p style="color: #ffd900; font-weight: bold; font-size: 20px; margin: 0;">POSICIONAMENTO</p>
        </div>
        <div style="background-color: #ffec80; padding: 5px 15px;">
            <p style="margin: 0;">Posicionamento atual do cliente face ao objetivo final a alcançar na área da Psicologia e Life Coaching</p>
        </div>
    </div>
    <div class="col-sm-12" style="display: inline-flex;">
        <div class="col-sm-2 col-sm-offset-1">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_pos" value="1">
                    0%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_pos" value="2">
                    25%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_pos" value="3">
                    50%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_pos" value="4">
                    75%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_03_pos" value="5">
                    100%
                </label>
            </div>
        </div>
    </div>
</div>

<!-- egjdfilhdfhdjlhfjdhgjehgjkefhgdfhgjsdhjdfhgjjkhdfjkghdfhgjkdfgjkdfhgjkdfjkghdfjhgjdfhgjdfhgjkhdfjkghdf-->

<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #00bd13; padding: 5px 15px;">
            <p style="color: #00bd13; font-weight: bold; font-size: 20px; margin: 0;">NUTRIÇÂO FUNCIONAL</p>
        </div>
        <div style="border-bottom: 1px solid black; padding: 10px 15px;">
            <p style="margin: 0;">É a área da Nutrição que investiga os fatores alimentares e ambientais relacionados com uma grande variedade de distúrbios no organismo do indivíduo. Trata-os de forma personalizada, com base na individualidade bioquímica e nos hábitos do dia-a-dia. Atua no tratamento e acima de tudo na prevenção. Nivela o sistema imunitário. Equilibra o “eixo hormonal”. Adequa os macro e micronutrientes individualmente.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #00bd13; padding: 5px 15px; margin: 15px 0 10px 0;">
            <p style="color: #00bd13; font-weight: bold; font-size: 20px; margin: 0;">METAS A ATINGIR</p>
        </div>
    </div>
</div>
<div class="row" style="background-color: #b3ffba; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>1) Planear refeições da semana</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_01" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_01" value="2">
                    Ao fim de semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_01" value="3">
                    De manha/final do dia
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_01" value="4">
                    Todos os dias
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="background-color: #e6ffe8;">
        <p style="margin: 0; padding: 0 0 5px 0; font-size: 12px;">
            Sugestão de leitura "Dicas para planear refeições"
            <a href="https://healthyhabits.pt/dicas-para-planear-as-suas-refeicoes-da-semana/" target="_blank">Link</a>
        </p>
    </div>
</div>
<div class="row" style="background-color: #b3ffba; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>2) Fazer um diário alimentar</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_02" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_02" value="2">
                    1 a 3 dias
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_02" value="3">
                    Semana pré-consulta
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_02" value="4">
                    1ª semana do plano
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="background-color: #e6ffe8;">
        <p style="margin: 0; padding: 0 0 5px 0; font-size: 12px;">
            Enviar por email: hora da refeição, tipo de refeição (pequeno-almoço, merenda 1,….jantar, ceia), tipo de alimento e quantidade
        </p>
    </div>
</div>
<div class="row" style="background-color: #b3ffba; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>3) Reduzir refeições fora de casa</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_03" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_03" value="2">
                    Lanches / Refeições
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_03" value="3">
                    1 a 2 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_03" value="4">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #b3ffba; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>4) Refeições BeFunctional</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_04" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_04" value="2">
                    1 a 2 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_04" value="3">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_04" value="4">
                    Todos os dias
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="background-color: #e6ffe8;">
        <p style="margin: 0; padding: 0 0 5px 0; font-size: 12px;">
            Visitar o site Be Functional 
            <a href="https://www.befunctional.net/" target="_blank">Link</a>
        </p>
    </div>
</div>
<div class="row" style="background-color: #b3ffba; margin: 0;">
    <div class="col-sm-3">
        <p>5) Refeições BeFunctional</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_05" value="1" checked>
                    Menu S
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_05" value="2">
                    Menu M
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_05" value="3">
                    Menu L
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_05" value="4">
                    Menu XL
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="background-color: #e6ffe8;">
        <p style="margin: 0; padding: 0 0 5px 0; font-size: 12px;">
            Visitar o site Be Functional 
            <a href="https://www.befunctional.net/" target="_blank">Link</a>
        </p>
    </div>
</div>
<div class="row" ng-show="adminMetas">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #00bd13; padding: 5px 15px; margin: 15px 0 0 0;">
            <p style="color: #00bd13; font-weight: bold; font-size: 20px; margin: 0;">Material de apoio: (disponível só na administração)</p>
        </div>
    </div>
    <div class="col-sm-12" style="margin-left: 15px;">   
        <p>1) </p>
        <p>2) </p>
        <p>3) </p>
        <p>4) </p>
        <p>5) </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #00bd13; padding: 5px 15px; margin: 15px 0 10px 0;">
            <p style="color: #00bd13; font-weight: bold; font-size: 20px; margin: 0;">OBSERVAÇÕES</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <textarea ng-model="clientHist.meta01.meta_04_obs"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #00bd13; padding: 5px 15px; margin: 15px 0 10px 0;">
            <p style="color: #00bd13; font-weight: bold; font-size: 20px; margin: 0;">CONTEÚDOS DE APOIO</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <textarea ng-model="clientHist.meta01.meta_04_contApoio"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #00bd13; padding: 5px 15px; margin: 15px 0 0 0;">
            <p style="color: #00bd13; font-weight: bold; font-size: 20px; margin: 0;">POSICIONAMENTO</p>
        </div>
        <div style="background-color: #b3ffba; padding: 5px 15px;">
            <p style="margin: 0;">Posicionamento atual do cliente face ao objetivo final a alcançar na área da Nutrição Funcional</p>
        </div>
    </div>
    <div class="col-sm-12" style="display: inline-flex;">
        <div class="col-sm-2 col-sm-offset-1">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_pos" value="1">
                    0%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_pos" value="2">
                    25%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_pos" value="3">
                    50%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_pos" value="4">
                    75%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_04_pos" value="5">
                    100%
                </label>
            </div>
        </div>
    </div>
</div>

<!-- egjdfilhdfhdjlhfjdhgjehgjkefhgdfhgjsdhjdfhgjjkhdfjkghdfhgjkdfgjkdfhgjkdfjkghdfjhgjdfhgjdfhgjkhdfjkghdf-->

<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #0886d4; padding: 5px 15px;">
            <p style="color: #0886d4; font-weight: bold; font-size: 20px; margin: 0;">SAÚDE E MEDICINA FUNCIONAL</p>
        </div>
        <div style="border-bottom: 1px solid black; padding: 10px 15px;">
            <p style="margin: 0;">Nesta área de trabalho pretendemos desenvolver a parte da medicina que assenta na prevenção,  utilizando técnicas da medicina funcional. Através deste método, procuramos conhecer e eliminar as causas da doença e não só os seus sintomas.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #0886d4; padding: 5px 15px; margin: 15px 0 10px 0;">
            <p style="color: #0886d4; font-weight: bold; font-size: 20px; margin: 0;">METAS A ATINGIR</p>
        </div>
    </div>
</div>
<div class="row" style="background-color: #ceebfd; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>1) Controlo da tensão arterial</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_01" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_01" value="2">
                    1 vez por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_01" value="3">
                    1 vez quinzenalmente
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_01" value="4">
                    1 vez por mês
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #ceebfd; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>2) Consulta médica de rotina</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_02" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_02" value="2">
                    Dentro de 2 meses
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_02" value="3">
                    de 6 a 6 meses
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_02" value="4">
                    1 vez por ano
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #ceebfd; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>3) Consulta higiene oral</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_03" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_03" value="2">
                    Dentro de 2 meses
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_03" value="3">
                    de 6 a 6 meses
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_03" value="4">
                    1 vez por ano
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #ceebfd; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>4) Análises sanguíneas periódicas</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_04" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_04" value="2">
                    Dentro de 2 meses
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_04" value="3">
                    de 6 a 6 meses
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_04" value="4">
                    1 vez por ano
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="background-color: #e6f5fe;">
        <p style="margin: 0; padding: 0 0 5px 0; font-size: 12px;">
            Envie para nutricao@vivercomsaude.pt
        </p>
    </div>
</div>
<div class="row" style="background-color: #ceebfd; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>5) Reduzir Hábitos</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_05" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_05" value="2">
                    Terapia de substituição
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_05" value="3">
                    Forma Gradual
                </label>
            </div>
        </div>
        <!-- <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_05" value="4">
                    ???????
                </label>
            </div>
        </div> -->
    </div>
    <div class="col-sm-12" style="background-color: #e6f5fe;">
        <p style="margin: 0; padding: 0 0 5px 0; font-size: 12px;">
            Exemplo: acupuntura, medicina chinesa
        </p>
    </div>
</div>
<!-- <div class="row">
    <div class="col-sm-3">
        <p>Reduzir Bebidas Alcoolicas</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta_01" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta_01" value="2">
                    Forma Gradual
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta_01" value="3">
                    Terapia de substituição
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta_01" value="4">
                    ???????
                </label>
            </div>
        </div>
    </div>
</div> -->
<div class="row" ng-show="adminMetas">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #0886d4; padding: 5px 15px; margin: 15px 0 0 0;">
            <p style="color: #0886d4; font-weight: bold; font-size: 20px; margin: 0;">Material de apoio: (disponível só na administração)</p>
        </div>
    </div>
    <div class="col-sm-12" style="margin-left: 15px;">   
        <p>1) </p>
        <p>2) </p>
        <p>3) </p>
        <p>4) </p>
        <p>5) Tabagismo, alcoolismo, pessimismo (depressão), sedentarismo, polimedicação</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #0886d4; padding: 5px 15px; margin: 15px 0 10px 0;">
            <p style="color: #0886d4; font-weight: bold; font-size: 20px; margin: 0;">OBSERVAÇÕES</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <textarea ng-model="clientHist.meta01.meta_01_obs"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #0886d4; padding: 5px 15px; margin: 15px 0 10px 0;">
            <p style="color: #0886d4; font-weight: bold; font-size: 20px; margin: 0;">CONTEÚDOS DE APOIO</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <textarea ng-model="clientHist.meta01.meta_01_contApoio"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #0886d4; padding: 5px 15px; margin: 15px 0 0 0;">
            <p style="color: #0886d4; font-weight: bold; font-size: 20px; margin: 0;">POSICIONAMENTO</p>
        </div>
        <div style="background-color: #ceebfd; padding: 5px 15px;">
            <p style="margin: 0;">Posicionamento atual do cliente face ao objetivo final a alcançar na área da Medicina Funcional e Saúde</p>
        </div>
    </div>
    <div class="col-sm-12" style="display: inline-flex;">
        <div class="col-sm-2 col-sm-offset-1">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_pos" value="1">
                    0%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_pos" value="2">
                    25%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_pos" value="3">
                    50%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_pos" value="4">
                    75%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_01_pos" value="5">
                    100%
                </label>
            </div>
        </div>
    </div>
</div>

<!-- egjdfilhdfhdjlhfjdhgjehgjkefhgdfhgjsdhjdfhgjjkhdfjkghdfhgjkdfgjkdfhgjkdfjkghdfjhgjdfhgjdfhgjkhdfjkghdf-->

<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #cf0000; padding: 5px 15px;">
            <p style="color: #cf0000; font-weight: bold; font-size: 20px; margin: 0;">ATIVIDADE FÍSICA E DESPORTO</p>
        </div>
        <div style="border-bottom: 1px solid black; padding: 10px 15px;">
            <p style="margin: 0;">Esta área pretende contribuir para a criação de hábitos de pratica de atividade física regular. Está provado científicamente que indivíduos que promovam rotinas de atividade física regular melhoram os seus índices de saúde. Vamos adaptar a atividade física à sua situação e necessidades específicas.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #cf0000; padding: 5px 15px; margin: 15px 0 10px 0;">
            <p style="color: #cf0000; font-weight: bold; font-size: 20px; margin: 0;">METAS A ATINGIR</p>
        </div>
    </div>
</div>
<div class="row" style="background-color: #ffb3b3; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>1) Fazer alongamentos</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_01" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_01" value="2">
                    1 a 2 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_01" value="3">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_01" value="4">
                    + de 5 vezes por semana
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="background-color: #ffe6e6;">
        <p style="margin: 0; padding: 0 0 5px 0; font-size: 12px;">
            Consultar aplicação android “Down Dog”; Sugestão de vídeo: 
            <a href="https://www.youtube.com/watch?v=KwcZhciUpK0" target="_blank">Link</a>
        </p>
    </div>
</div>
<div class="row" style="background-color: #ffb3b3; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>2) Subir escadas</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_02" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_02" value="2">
                    1 a 2 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_02" value="3">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_02" value="4">
                    + de 5 vezes por semana
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #ffb3b3; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>3) Realizar caminhadas</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_03" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_03" value="2">
                    1 a 2 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_03" value="3">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_03" value="4">
                    + de 5 vezes por semana
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="background-color: #ffe6e6;">
        <p style="margin: 0; padding: 0 0 5px 0; font-size: 12px;">
            Consultar aplicação "Strava", "RunKeper" 
        </p>
    </div>
</div>
<div class="row" style="background-color: #ffb3b3; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>4) Exercícios de força</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_04" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_04" value="2">
                    1 a 2 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_04" value="3">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_04" value="4">
                    + de 5 vezes por semana
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="background-color: #ffe6e6;">
        <p style="margin: 0; padding: 0 0 5px 0; font-size: 12px;">
            Sugestão: Consultar aplicação "Seven"
        </p>
    </div>
</div>
<div class="row" style="background-color: #ffb3b3; margin: 0 0 10px 0;">
    <div class="col-sm-3">
        <p>5) Iniciar uma actividade</p>
    </div>
    <div class="col-sm-9" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_05" value="1" checked>
                    Não se aplica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_05" value="2">
                    1 a 2 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_05" value="3">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_05" value="4">
                    + de 5 vezes por semana
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="background-color: #ffe6e6;">
        <p style="margin: 0; padding: 0 0 5px 0; font-size: 12px;">
            Consultar um PT
        </p>
    </div>
</div>
<div class="row" ng-show="adminMetas">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #cf0000; padding: 5px 15px; margin: 15px 0 0 0;">
            <p style="color: #cf0000; font-weight: bold; font-size: 20px; margin: 0;">Material de apoio: (disponível só na administração)</p>
        </div>
    </div>
    <div class="col-sm-12" style="margin-left: 15px;">   
        <p>1) Alongar ao acordar, na hora de almoço e jantar</p>
        <p>2) Por exemplo, se vive no 8º andar, sair a meio e subir.</p>
        <p>3) Sair 1-2 estações antes e caminhar para o trabalho; adquirir um podómetro e definir mínimo de 5km e aumentar 1km de cada vez.</p>
        <p>4) </p>
        <p>5) Planear na agenda gmail ou ao domingo timings para treinar e cumprir!</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #cf0000; padding: 5px 15px; margin: 15px 0 10px 0;">
            <p style="color: #cf0000; font-weight: bold; font-size: 20px; margin: 0;">OBSERVAÇÕES</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <textarea ng-model="clientHist.meta01.meta_02_obs"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #cf0000; padding: 5px 15px; margin: 15px 0 10px 0;">
            <p style="color: #cf0000; font-weight: bold; font-size: 20px; margin: 0;">CONTEÚDOS DE APOIO</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <textarea ng-model="clientHist.meta01.meta_02_contApoio"></textarea>
    </div>
</div>
<div class="row" style="margin-bottom: 20px;">
    <div class="col-sm-12">
        <div style="border-bottom: 15px solid #cf0000; padding: 5px 15px; margin: 15px 0 0 0;">
            <p style="color: #cf0000; font-weight: bold; font-size: 20px; margin: 0;">POSICIONAMENTO</p>
        </div>
        <div style="background-color: #ffb3b3; padding: 5px 15px;">
            <p style="margin: 0;"> Posicionamento atual do cliente face ao objetivo final a alcançar na área da Atividade Fisica e Desporto</p>
        </div>
    </div>
    <div class="col-sm-12" style="display: inline-flex;">
        <div class="col-sm-2 col-sm-offset-1">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_pos" value="1">
                    0%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_pos" value="2">
                    25%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_pos" value="3">
                    50%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_pos" value="4">
                    75%
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientHist.meta01.meta_02_pos" value="5">
                    100%
                </label>
            </div>
        </div>
    </div>
</div>