<div ng-show="clientDetail.clientType == 'ProgramaGestaoDePeso' || clientDetail.clientType == 'ProgramaSaude' || clientDetail.clientType == 'ProgramaFit'">
    <div class="col-sm-12" style="display: inline-flex;">
        <h4 class="newH4">Apresenta algum, ou mais do que um, sintoma gastrointestinal?</h4>
        <div class="checkbox checkbox-title" style="width: 5%; margin-left: 20px;">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz13">
                Sim
            </label>
        </div>
    </div>

    <div class="col-sm-12 no-pad-left no-pad-right" ng-show="clientForm.quiz13">
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_1">
                    Obstipação
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_2">
                    Diarreia
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_3">
                    Refluxo gastroesofágico
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_4">
                    Náuseas
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_5">
                    Azia
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_6">
                    Flatulência
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_7">
                    Vómitos
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_8">
                    Úlceras
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_9">
                    D. Crohn
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_10">
                    Colite Ulcerosa
                </label>
            </div>
        </div>
        <div class="col-sm-8" style="display: inline-flex;">
            <div class="checkbox" style="margin-right: 10px;">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_11">
                    Outro/s?
                </label>
            </div>
            <div ng-show="clientForm.quiz13_11" style="display: inline-flex; width: 100%;">
                <input class="form-control" type="text" ng-model="clientForm.quiz13_11_1">
            </div>
        </div>
    </div>
</div>

<div ng-hide="clientDetail.clientType == 'ProgramaGestaoDePeso' || clientDetail.clientType == 'ProgramaSaude' || clientDetail.clientType == 'ProgramaFit'">
    <div class="col-sm-12">
        <h4 class="newH4">Apresenta algum dos seguintes sintomas gastrointestinais?</h4>
    </div>

    <div class="col-sm-12 no-pad-left no-pad-right">
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_1">
                    Obstipação
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_2">
                    Diarreia
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_3">
                    Refluxo gastroesofágico
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_4">
                    Náuseas
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_5">
                    Azia
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_6">
                    Flatulência
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_7">
                    Vómitos
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_8">
                    Úlceras
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_9">
                    D. Crohn
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_10">
                    Colite Ulcerosa
                </label>
            </div>
        </div>
        <div class="col-sm-8" style="display: inline-flex;">
            <div class="checkbox" style="margin-right: 10px;">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz13_11">
                    Outro/s?
                </label>
            </div>
            <div ng-show="clientForm.quiz13_11" style="display: inline-flex; width: 100%;">
                <input class="form-control" type="text" ng-model="clientForm.quiz13_11_1">
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12" style="margin: 15px 0;">
    <div style="border-bottom: 1px lightgrey solid; width: 70%; margin:auto ;"></div>
</div>