<div ng-show="clientDetail.clientType == 'ProgramaGestaoDePeso' || clientDetail.clientType == 'ProgramaSaude' || clientDetail.clientType == 'ProgramaFit'">
    <div class="col-sm-12" style="display: inline-flex;">
        <h4 class="newH4">Algum dos seus familiares directos tem/teve problemas de saúde?</h4>
        <div class="checkbox checkbox-title" style="width: 5%; margin-left: 20px;">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz11">
                Sim
            </label>
        </div>
    </div>

    <div class="col-sm-12 no-pad-left no-pad-right" ng-show="clientForm.quiz11">
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz11_1">
                    Familiares com excesso de peso
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz11_2">
                    Familiares com colesterol/triglicéridos elevado
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz11_3">
                    Familiares com hipertensão arterial
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz11_4">
                    Familiares com diabetes
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz11_5">
                    Familiares com problemas hepáticos
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz11_6">
                    Familiares com problemas renais
                </label>
            </div>
        </div>
        <div class="col-sm-12" style="display: inline-flex;">
            <div class="checkbox" style="margin-right: 10px;">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz11_7">
                    Outro/s?
                </label>
            </div>
            <div ng-show="clientForm.quiz11_7" style="display: inline-flex; width: 100%;">
                <input class="form-control" type="text" ng-model="clientForm.quiz11_1">
            </div>
        </div>
    </div>
</div>

<div ng-hide="clientDetail.clientType == 'ProgramaGestaoDePeso' || clientDetail.clientType == 'ProgramaSaude' || clientDetail.clientType == 'ProgramaFit'">
    <div class="col-sm-12">
        <h4 class="newH4">Algum dos seus familiares directos tem/teve os seguintes problemas de saúde?</h4>
    </div>

    <div class="col-sm-12 no-pad-left no-pad-right">
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz11_1">
                    Familiares com excesso de peso
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz11_2">
                    Familiares com colesterol/triglicéridos elevado
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz11_3">
                    Familiares com hipertensão arterial
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz11_4">
                    Familiares com diabetes
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz11_5">
                    Familiares com problemas hepáticos
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz11_6">
                    Familiares com problemas renais
                </label>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12" style="margin: 15px 0;">
    <div style="border-bottom: 1px lightgrey solid; width: 70%; margin:auto ;"></div>
</div>