body {
    font-family: 'Source Sans Pro', sans-serif;
}
.souButton {
    border: 0;
    border-radius: 6px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    font-weight: bold;
    font-size: 18px
}
button:focus, input:focus, textarea:focus {
    outline: 0;
}
.souPTitle {
    color: white;
    font-weight:bold;
    font-size: 26px;
}
.souPDesc {
    color: white;
    font-size: 18px;
}
/*.divMassa {
  transition: all linear 2s;
  position: relative;
  top: 0;
  left: 0;
}*/
.souGroupDesc {
    color: black;
    font-size: 15px;
}

.divButtonOptions {
    padding: 30px 20px;
}
.preMassaGroup {
    background-color: rgba(255,255,255,0.9);
    padding: 30px;
}
.preSaudeGroup {
    background-color: rgba(255,255,255,0.9);
    padding: 30px;
}
.preDesportoGroup {
    background-color: rgba(255,255,255,0.9);
    padding: 30px;
}
.preQuizContact {
    margin-top: 115px;
}
.subPreQuizContact {
    background-color: rgba(255,255,255,0.9); 
    padding: 25px;
    margin-top: 150px;
}
@keyframes myChange {
  from {
      display: block;
  } to {
      display: none;
  }
}


/*.ng-hide {
  animation: 2s myChange;
}*/
.pre-h2 {
    font-weight: bold;
    margin: 0 0 10px 0;
}
.pre-h2-2 {
    margin: 0 0 15px 0;
}
.space-top {
    margin-top: 560px;
}
.space-top-2 {
    margin-top: 240px;
}
.groupName {
    color: green;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}
.groupDesc {
    font-weight: bold;
    font-size: 18px;
}
.groupProgramaTitle {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}
.buttonTitle {
    font-weight: bold;
    font-size: 18px;
}
.callMeStyle {
    background-color: green;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 10px;
}
.callMeTitle {
    font-weight: bold;
}
.callMeInput {
    padding: 10px;
    margin-bottom: 15px;
}
.callMeTextarea {
    border: 1px solid rgba(0,0,0,0.4);
}
.callMeButtom {
    border: 0;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 4px;
}
.quemSouMainButton {
    margin-bottom: 20px; 
    border-radius: 4px; 
    border: 0; 
    background-color: green; 
    color: white; 
    width: 100%;
    padding: 15px 0; 
    font-size: 20px; 
    font-weight: bold
}
.line-spin-fade-loader > div {
    background-color: orange;
}
.mainOptions {
    background-color: white; 
    box-shadow: 0 0 5px #888888; 
    margin: 0 37px;
}
.mainTextBox {
    font-weight: bold; 
    font-size: 19px; 
    margin: 0;
    padding-bottom: 22px;
    color: #8c8c8c;
    min-height: 115px;
}
.divHeight {
    height: 155px;
}
.text-box-main {
    padding: 20px;
}

@media screen and (max-width: 1366px) {
    .space-top {
        margin-top: 350px;
    }
}