<div ng-show="clientForm.quiz17">
    <div class="col-sm-12">
        <h4>Cronologia de actividade física</h4>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-12">
            <p>Preencha os espaços com os horários do seu treino</p>
            <table class="actividade">
                <thead>
                    <tr>
                        <td></td>
                        <td class="text-center" style="width: 14%;">2ª feira</td>
                        <td class="text-center" style="width: 14%;">3ª feira</td>
                        <td class="text-center" style="width: 14%;">4ª feira</td>
                        <td class="text-center" style="width: 14%;">5ª feira</td>
                        <td class="text-center" style="width: 14%;">6ª feira</td>
                        <td class="text-center" style="width: 14%;">Sábado</td>
                        <td class="text-center" style="width: 14%;">Domingo</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="td-row">
                        <td></td>
                        <td class="td-geral"><table><tr>
                            <td class="td-hora text-center">Hora</td>
                            <td class="td-dur text-center">Duração</td>
                        </tr></table></td>
                        <td class="td-geral"><table><tr>
                            <td class="td-hora text-center">Hora</td>
                            <td class="td-dur text-center">Duração</td>
                        </tr></table></td>
                        <td class="td-geral"><table><tr>
                            <td class="td-hora text-center">Hora</td>
                            <td class="td-dur text-center">Duração</td>
                        </tr></table></td>
                        <td class="td-geral"><table><tr>
                            <td class="td-hora text-center">Hora</td>
                            <td class="td-dur text-center">Duração</td>
                        </tr></table></td>
                        <td class="td-geral"><table><tr>
                            <td class="td-hora text-center">Hora</td>
                            <td class="td-dur text-center">Duração</td>
                        </tr></table></td>
                        <td class="td-geral"><table><tr>
                            <td class="td-hora text-center">Hora</td>
                            <td class="td-dur text-center">Duração</td>
                        </tr></table></td>
                        <td class="td-geral"><table><tr>
                            <td class="td-hora text-center">Hora</td>
                            <td class="td-dur text-center">Duração</td>
                        </tr></table></td>
                    </tr>
                    <!-- treino 1 -->
                    <tr class="tr-treino">
                        <td>Treino 1</td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_1_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_1_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_2_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_2_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_3_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_3_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_4_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_4_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_5_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_5_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_6_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_6_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_7_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_7_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="td-row">
                        <td>Modalidade</td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_1_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_2_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_3_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_4_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_5_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_6_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_1_7_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- treino 2 -->
                    <tr class="tr-treino">
                        <td>Treino 2</td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_1_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_1_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_2_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_2_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_3_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_3_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_4_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_4_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_5_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_5_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_6_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_6_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_7_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_7_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="td-row">
                        <td>Modalidade</td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_1_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_2_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_3_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_4_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_5_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_6_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_2_7_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr></tr>

                    <!-- treino 3-->
                    <tr class="tr-treino">
                        <td>Treino 3</td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_1_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_1_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_2_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_2_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_3_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_3_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_4_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_4_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_5_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_5_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_6_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_6_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td class="td-hora"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_7_1" style="width: 100%" placeholder="ex.9:00" ></td>
                                    <td class="td-dur"><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_7_2" style="width: 100%" placeholder="ex.1:45" ></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Modalidade</td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_1_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_2_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_3_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_4_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_5_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_6_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="td-geral">
                            <table>
                                <tr>
                                    <td><input type=text class="form-control text-center" ng-model="clientForm.quiz18_3_7_3" style="width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-sm-12" style="margin: 15px 0;">
    <div style="border-bottom: 1px lightgrey solid; width: 70%; margin:auto ;"></div>
</div>