<div ng-hide="clientTypeSaude || clientTypePeso || clientTypeDesporto">
    <div class="col-sm-12">
        <h4 class="newH4">Pratica exercício físico?</h4>
    </div>

    <div class="col-sm-12">
        <div class="radio">
            <label>
                <input type="radio" name="showHideActividade" ng-model="clientForm.quiz17" ng-value="false">
                Não
            </label>
            <label>
                <input type="radio" name="showHideActividade" ng-model="clientForm.quiz17" ng-value="true">
                Sim
            </label>
        </div>
    </div>
    <div class="col-sm-12" ng-show="clientForm.quiz17">
        <h4 class="newH4">Nível de intensidade do seu exercício:</h4>
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientForm.quiz17_1" value="1">
                Pouco intenso (exº caminhadas, hidroginástica)
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientForm.quiz17_1" value="2">
                Intenso (exº Musculação; Bicicleta; Natação)
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientForm.quiz17_1" value="3">
                Extremamente intenso (exº Desportos de alta competição; HIIT; CrossFit, Natação de alta competição)
            </label>
        </div>
    </div>
</div>

<div ng-show="clientTypeSaude || clientTypePeso">
    <div class="col-sm-12" style="display: inline-flex;">
        <h4 class="newH4">Pratica actividade física regularmente?</h4>
        <div class="checkbox checkbox-title" style="margin-left: 20px;">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz30">
                Sim
            </label>
        </div>
    </div>
    <div class="col-sm-12" ng-show="clientForm.quiz30" style="display: inline-flex;">
        <div style="display: inline-flex; width: 100%;">
            <label class="control-label" style="width: 9%; margin-top: 10px; margin-right: 10px;">Qual/Quais?</label>
            <input type="text" class="form-control" ng-model="clientForm.quiz30_1">
        </div>    
    </div>
    
    <div class="col-sm-12" style="margin: 15px 0;" ng-show="clientForm.quiz30">
        <div style="border-bottom: 1px lightgrey solid; width: 70%; margin:auto ;"></div>
    </div>

    <div class="col-sm-12 no-pad-left no-pad-right" ng-show="clientForm.quiz30">
        <div class="col-sm-3" style="display: inline-flex; width: 200px;">
            <h4 class="newH4">Quantas vezes por semana?</h4>
        </div>
        <div class="col-sm-9" style="display: inline-flex;">
            <div class="col-sm-2">
                <div class="radio radio-title">
                    <label>
                        <input type="radio" ng-model="clientForm.quiz31" value="1">
                        1 a 2x
                    </label>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="radio radio-title">
                    <label>
                        <input type="radio" ng-model="clientForm.quiz31" value="2">
                        3 a 4x
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="radio radio-title">
                    <label>
                        <input type="radio" ng-model="clientForm.quiz31" value="3">
                        Mais de 4x por semana
                    </label>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm-12" style="margin: 15px 0;" ng-show="clientForm.quiz30">
        <div style="border-bottom: 1px lightgrey solid; width: 70%; margin:auto ;"></div>
    </div>

    <div class="col-sm-12 no-pad-left no-pad-right" ng-show="clientForm.quiz30">
        <div class="col-sm-3" style="display: inline-flex; width: 246px;">
            <h4 class="newH4">Qual a duração de cada actividade?</h4>
        </div>
        <div class="col-sm-9" style="display: inline-flex;">
            <div class="col-sm-3">
                <div class="radio radio-title">
                    <label>
                        <input type="radio" ng-model="clientForm.quiz32" value="1">
                        Menos de 30 minutos
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="radio radio-title">
                    <label>
                        <input type="radio" ng-model="clientForm.quiz32" value="2">
                        Entre 30 a 60 minutos
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="radio radio-title">
                    <label>
                        <input type="radio" ng-model="clientForm.quiz32" value="3">
                        Mais de 60 minutos
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12" style="margin: 15px 0;" ng-show="clientForm.quiz30">
        <div style="border-bottom: 1px lightgrey solid; width: 70%; margin:auto ;"></div>
    </div>

    <div class="col-sm-12" ng-show="clientForm.quiz30">
        <p style="display: inline; font-weight: bold;">De 1 a 10 qual a intensidades da actividade que pratica, sendo 10 o mais intenso!</p>
    </div>
    <div class="col-sm-12" style="margin-top: 10px;" ng-show="clientForm.quiz30">
        <label class="radio-inline">
            <input type="radio" ng-model="clientForm.quiz33" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="clientForm.quiz33" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="clientForm.quiz33" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="clientForm.quiz33" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="clientForm.quiz33" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="clientForm.quiz33" value="6"> 6
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="clientForm.quiz33" value="7"> 7
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="clientForm.quiz33" value="8"> 8
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="clientForm.quiz33" value="9"> 9
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="clientForm.quiz33" value="10"> 10
        </label>
    </div>
    
    <div class="col-sm-12" style="margin: 15px 0;">
        <div style="border-bottom: 1px lightgrey solid; width: 70%; margin:auto ;"></div>
    </div>
</div>