<div class="container">
    <div class="row text-center">
        <h3>BackOffice</h3>
    </div>
    <div class="row">
        <h4 style="font-weight: bold;">Locais de Consulta</h4>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="local">Novo Local</label>
                <input type="text" class="form-control" id="local" ng-model="local.name">
            </div>
            <button ng-click="saveLocal()">Gravar</button>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="localList">Lista de Locais</label>
                <select ng-model="tempLocal.name" class="form-control" id="categoria" ng-options="x.local.name for x in localList"></select>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <h4 style="font-weight: bold;">Suplementos</h4>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="marcaSup">Marcas de Suplementos</label>
                <input type="text" class="form-control" id="marcaSup" ng-model="suplementBrand.name">
            </div>
            <button ng-click="saveSuplementBrand()">Gravar</button>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="categoriaSup">Categorias de Suplementos </label>
                <input type="text" class="form-control" id="categoriaSup" ng-model="suplementCategory.name">
            </div>
            <button ng-click="saveSuplementCategory()">Gravar</button>
        </div>
    </div>

    <br>

    <div class="row">
        <h4 style="font-weight: bold;">Criar Suplementos</h4>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="marca">Marca</label>
                <select ng-model="suplement.brand" class="form-control" id="marca" ng-options="item.suplementbrand.name for item in suplementsBrand"></select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="categoria">Categoria</label>
                <select ng-model="suplement.category" class="form-control" id="categoria" ng-options="x.suplementCategory.name for x in suplementsCategories"></select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="modelo">Modelo</label>
                <input type="text" class="form-control" id="modelo" ng-model="suplement.model">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" ng-model="suplement.name">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="url">Url</label>
                <input type="text" class="form-control" id="url" ng-model="suplement.url">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="posologia">Posologia</label>
                <input  class="form-control" id="posologia" ng-model="suplement.dosage">
            </div>
        </div>
        <div class="col-sm-3">
            <button ng-click="saveSuplement()">Criar</button>
        </div>
    </div>
</div>