<div class="div-height-inner">
    <h2 class="text-center pre-h2">Bem-vindo à Healthy Habits</h2>
    <h2 class="text-center pre-h2-2">Diga-nos o que procura?</h2>
    <div class="col-sm-4 text-center">  
        <div class="mainOptions" ng-class="{quemSouMainButtonNG: clientDetail.clientType == 'ProgramaGestaoDePeso' || clientDetail.clientType == 'ProgramaSaude'}">  
            <img src="/images/nutricao_desportiva.png" class="img-responsive" alt="">
            <div class="text-box-main">
                <p class="mainTextBox">Para quem tem como principal objetivo melhorar o seu rendimento e performance desportiva</p>            
                <button ng-click="setType('desporto')"  class="quemSouMainButton">Nutrição Desportiva</button>        
            </div>
        </div>
    </div>
    <div class="col-sm-4 text-center">   
        <div class="mainOptions" ng-class="{quemSouMainButtonNG: clientDetail.clientType == 'ProgramaFit' || clientDetail.clientType == 'ProgramaSaude'}">
            <img src="/images/grupo_praia.png" class="img-responsive" alt="">
            <div class="text-box-main">
                <p class="mainTextBox">Para quem tem como principal objetivo controlar a perda ou ganho de volume corporal e gerir o peso</p>
                <button ng-click="setType('massa')" class="quemSouMainButton">Perder / Ganhar Peso</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4 text-center">   
        <div class="mainOptions" ng-class="{quemSouMainButtonNG: clientDetail.clientType == 'ProgramaGestaoDePeso' || clientDetail.clientType == 'ProgramaFit'}">  
            <img src="/images/saude_bem_estar.png" class="img-responsive" alt="">
            <div class="text-box-main">
                <p class="mainTextBox">Para quem tem como principal objetivo controlar sintomas de doenças crónicas ou prevenir doenças</p>            
                <button ng-click="setType('saude')"  class="quemSouMainButton">Bem-estar e Saúde</button>        
            </div>
        </div>
    </div>
</div>