<div class="container indice-style">

    <div class"row" style="margin-top:40px; overflow:auto;">
        <h4 class="text-center">Links para os ambientes</h4>
        <div class="col-sm-4">
            <a href="https://dev.healthyhabits.pt" target="_blank">Ambiente de Desenvolvimento</a>
        </div>
        <div class="col-sm-4">
            <a href="https://pre.healthyhabits.pt" target="_blank">Ambiente de Pré-Produção</a>
        </div>
        <div class="col-sm-4">
            <a href="https://app.healthyhabits.pt" target="_blank">Ambiente de Produção(Versão Final)</a>
        </div>
    </div>

    <div class="row" style="margin-top:20px; overflow:auto;">
        <h4 class="text-center">Geral</h4>
        <div class="col-sm-4">
            <a href="/admin" target="_blank">Zona de Administração</a>
        </div>
        <div class="col-sm-4">                
            <a href="/newsletter" target="_blank">Envio de Newsletters</a>
        </div>
        <div class="col-sm-4"> 
            <a href="/dudas" target="_blank">Back Office</a>
        </div>
    </div>
    
    <div class="row"style="margin-top:20px; overflow:auto;">
        <h4 class="text-center">CGI</h4>  
        <div class="col-sm-4">   
            <a href="/tabelacgi" target="_blank">Tabela CGI</a>
        </div>
        <div class="col-sm-4"> 
            <a href="/historicocgi" target="_blank">Histórico CGI</a>
        </div>
        <div class="col-sm-4"> 
            <a href="/workshop" target="_blank">Workshop CGI Spyder</a>
        </div>
        <div class="col-sm-4" style="margin-top: 20px;"> 
            <a href="/registospendentes" target="_blank">Questionário Spyder</a>
        </div>
    </div>

    <div class="row" style="margin-top:20px; overflow:auto;">
        <h4 class="text-center">Consultas Parceiros</h4>
        <div class="col-sm-4"> 
            <a href="/consultasmanuel" target="_blank">Lista Consultas Manuel Teixeira</a>
        </div>
    </div>

    <div class="row" style="margin-top:20px; overflow:auto;">
        <h4 class="text-center">Links Temporários</h4>
        <div class="col-sm-4"> 
            <a href="/quemsoueu" target="_blank">Bem vindo</a>
        </div>
        <div class="col-sm-4"> 
            <a href="/id" target="_blank">URL de erro</a>
        </div>
    </div>

    <div class="row" style="margin-top:20px; overflow:auto;">
        <h4 class="text-center">Pastas OneDrive Viver com Saúde</h4>
        <div class="col-sm-4"> 
            <a href="https://onedrive.live.com/?id=C76678FFE7839535%2131246&cid=F04FEA673E2D8E65" target="_blank">Pasta "1-Escritório"</a>
        </div>
        <div class="col-sm-4"> 
            <a href="https://onedrive.live.com/?id=C76678FFE7839535%2145418&cid=F04FEA673E2D8E65" target="_blank">Pasta "Colegas Healthy Habits"</a>
        </div>
        <div class="col-sm-4"> 
           <a href="https://onedrive.live.com/?id=C76678FFE7839535%2131249&cid=F04FEA673E2D8E65" target="_blank">Pasta "Relatórios"</a>
        </div>
    </div>
</div>