<div class="container-fluid" style="padding: 0;">
    <div>
        <div ng-show="profile" style="margin-top: 175px;">
            <div class="container">
                <h2 class="text-center pre-h2">BEM VINDO À HEALTHY HABITS</h2>
                <h2 class="text-center pre-h2">DIGA-NOS O QUE PROCURA</h2>
                <div class="col-sm-4 text-center">   
                    <div style="background-color: white; box-shadow: 0 0 5px #888888; margin: 0 30px;">
                        <img src="/images/grupo_praia.png" class="img-responsive" alt="">
                        <div style="height: 155px;">
                            <p style="font-weight: bold; font-size: 18px; padding: 15px 30px; margin: 0;">Para quem tem como principal objectivo perder volume corporal e massa gorda</p>
                        </div>
                        <button ng-click="setType('massa')" class="quemSouMainButton">Perder Peso</button>
                    </div>
                </div>
                <div class="col-sm-4 text-center">  
                    <div style="background-color: white; box-shadow: 0 0 5px #888888; margin: 0 30px;">  
                        <img src="/images/nutricao_desportiva.png" class="img-responsive" alt="">
                        <div style="height: 155px;">
                            <p style="font-weight: bold; font-size: 18px; padding: 15px 30px; margin: 0;">Para quem tem como principal objectivo bater recordes pessoas e melhorar performance desportiva</p>            
                        </div>
                        <button ng-click="setType('desporto')"  class="quemSouMainButton">Nutrição Desportiva</button>        
                    </div>
                </div>
                <div class="col-sm-4 text-center">   
                    <div style="background-color: white; box-shadow: 0 0 5px #888888; margin: 0 30px;">  
                        <img src="/images/saude_bem_estar.png" class="img-responsive" alt="">
                        <div style="height: 155px;">
                            <p style="font-weight: bold; font-size: 18px; padding: 15px 30px; margin: 0;">Para quem tem como principal objectivo reduzir sintomas de doenças crónicas ou mesmo prevenir doenças</p>            
                        </div>
                        <button ng-click="setType('saude')"  class="quemSouMainButton">Bem Estar e Saúde</button>        
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="massa">
            <div ng-include="'views/quemsoueu/massa.html'"></div>      
        </div>
        <div ng-show="desporto">
            <div ng-include="'views/quemsoueu/desporto.html'"></div>
        </div>
        <div ng-show="saude">
            <div ng-include="'views/quemsoueu/saude.html'"></div>
        </div>
        <div ng-show="groupDiv">
            {{objectiveDesc.objective}}
            {{groupDesc.name}}
            {{groupDesc.desc}}
            <div>
                <button>Proseguir para criar registo de utilizador</button>
            </div>
        </div>
    </div>
</div>