<div class="container table-result">
    <div class="col-sm-12 text-center spyder-res">
        <h3>Nº Inscritos</h3>
        <div style="display: inline-flex; width: 120px">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            <p class="dash-p">{{spyderCont}}</p>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row" style="margin-bottom: 160px; height: 150px">
            <div class="col-sm-3 q1-title text-center">
                <p>Prático / Emocional</p>
                <p style="font-size: 40px;">{{contPE}}</p>
            </div>
            <div class="col-sm-3 q2-title text-center">
                <p>Prático / Mental</p>
                <p style="font-size: 40px;">{{contPM}}</p>
            </div>
            <div class="col-sm-3 q3-title text-center">
                <p>Emocional / Espiritual</p>
                <p style="font-size: 40px;">{{contEE}}</p>
            </div>
            <div class="col-sm-3 q4-title text-center">
                <p>Espiritual / Mental</p>
                <p style="font-size: 40px;">{{contEM}}</p>
            </div>
        </div>
        <table>
            <tr>
                <td></td>
                <td></td>
                <td colspan="2" class="q2-lett">P</td>
                <td></td>
                <td></td>
            
            </tr>
            <tr>
                <td></td>
                <td class="text-center q1-lett">
                    Prático / Emocional <br> Diversidade
                </td>
                <td style="width: 1%"></td>
                <td class="left-border" style="width: 1%"></td>
                <td class="text-center q2-lett">
                    Prático / Mental <br> Significância
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="rotate-lett">
                    Tendencialmente Extrovertidos
                </td>
                <td class="q1">
                    <ul>
                        <li>
                            Caracterizadas por um comportamento impulsivo e emocional
                        </li>
                        <li>
                            Associado muito à acção e à falta de reflexão e análise mental das circunstâncias
                        </li>
                        <li>
                            Gostam de pormenores e detalhes 
                        </li>
                        <li>
                            Perante os obstáculos tendem a fazer o mesmo repetidamente 
                        </li>
                        <li>
                            Primam muito pelo desafio e variedade.
                        </li>
                    </ul>
                </td>
                <td></td>
                <td class="left-border"></td>
                <td class="q2">
                    <ul>
                        <li>
                            Tendem a isolar-se dos outros
                        </li>
                        <li>
                            Gostam de pormenores e detalhes 
                        </li>
                        <li>
                            Perante os obstáculos reflectem e analisam formas diferentes e mais funcionais de o contornar
                        </li>
                        <li>
                            Primam muito pela significância e pelo reconhecimento
                        </li>
                    </ul>
                </td>
                <td></td>
            </tr>
            <tr style="height: 2%;">
                <td rowspan="2" class="q1-lett text-right">E</td>
                <td class="bottom-border"></td>
                <td class="bottom-border"></td>
                <td class="left-border bottom-border"></td>
                <td class="bottom-border"></td>
                <td rowspan="2" class="q4-lett">M</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="left-border"></td>
                <td></td>
            </tr>
            <tr>
                <td class="rotate-lett">
                    Tendencialmente Introvertidos
                </td>
                <td class="q3">
                    <ul>
                        <li>
                            Valorizam a visão global e os objectivos gerais da situação
                        </li>
                        <li>
                            Perante obstáculos envolvem-se tanto nele que de repente perdem o seu objectivo divagando sobre tudo
                        </li>
                        <li>
                            Primam muito pela conexão e pelo relacionamento saudável no grupo esquecendo por vezes a questão prática e produtiva.
                        </li>
                    </ul>
                </td>
                <td></td>
                <td class="left-border"></td>
                <td class="q4">
                    <ul>
                        <li>
                            Caracterizadas por pensar muito mas nem sempre implementam acções
                        </li>
                        <li>
                            Valorizam a visão global e os objectivos gerais dos projectos
                        </li>
                        <li>
                            Sempre que se depara com um obstáculo tende a voltar à sua zona de conforto para pensar
                        </li>
                        <li>
                            Gostam de estudar e planear novas soluções e depois delegam nos práticos para que as implementem
                        </li>
                        <li>
                            Primam muito pela certeza em tudo.
                        </li>
                    </ul>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="text-center q3-lett">
                    Emocional / Espiritual <br> Conexão
                </td>
                <td></td>
                <td class="left-border"></td>
                <td class="text-center q4-lett">
                    Espiritual / Mental <br> Certeza
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td colspan="2" class="q3-lett">S</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-10 col-sm-offset-1" style="margin-top: 60px;">
        <h4 class="text-center">
            Uma das formas de alavancar relacionamentos é perceber como cada um dos quadrantes usa as estratégias comunicacionais.
        </h4>
        <h4 class="text-center">Cada quadrante tem uma forma característica de usar as palavras e varia no tom de voz e no comportamento não verbal.
        </h4>
        <div style="margin-top: 30px;">
            <table style="width: 100%">
                <tr>
                    <td class="q1-lett-2" style="width: 7%;">
                        PE
                    </td>
                    <td class="q1-border" style="padding:15px;">
                        <ul>
                            <li>
                                Usam muitas palavras construindo frases desordenadamente.
                            </li>
                            <li>
                                Interrompe muitas vezes o outro e tende a falar de vários assuntos em simultâneo.
                            </li>
                            <li>
                                Usam muitas interjeições e palavras emocionais (e.g. “eu sinto”).
                            </li>
                            <li>
                                Normalmente falam alto e rápido.
                            </li>
                            <li>
                                Tendem a gesticular bastante de forma aberta.
                            </li>
                            <li>
                                Gosta de estar perto do interlocutor e de ter contacto físico.
                            </li>
                            <li>
                                Perdem a atenção facilmente e tem alguns tiques.
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-top: 30px;">
            <table style="width: 100%">
                <tr>
                    <td class="q2-lett-2" style="width: 7%;">
                        PM
                    </td>
                    <td class="q2-border" style="padding:15px;">
                        <ul>
                            <li>
                                Usam palavras directivas e assertivas.
                            </li>
                            <li>
                                Focam as palavras na acção e nos resultados.
                            </li>
                            <li>
                                Têm um discurso claro e conciso, por vezes rápido e agressivo, num tom de voz audível, monocórdico e com cadência.
                            </li>
                            <li>
                                Tem uma postura altiva e rígida, com gestos curtos e duros.
                            </li>
                            <li>
                                Aperto de mão firme e olha muitas vezes para o relógio pois tende a ficar impaciente.
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-top: 30px;">
            <table style="width: 100%">
                <tr>
                    <td class="q3-lett-2" style="width: 7%;">
                        ES
                    </td>
                    <td class="q3-border" style="padding:15px;">
                        <ul>
                            <li>
                                Usam poucas palavras e geralmente abstractas e ligadas a emoções.
                            </li>
                            <li>
                                Tem dificuldade em se expressar pelo que falam pouco numa fase inicial aumentando a quantidade de discurso à medida que ganha confiança.
                            </li>
                            <li>
                                Verbaliza em ritmo lento e em tom baixo e por vezes as palavras tornam-se imperceptíveis.
                            </li>
                            <li>
                                Usa o corpo para mostrar o que está a sentir (e.g. tem propensão para os abraços).
                            </li>
                            <li>
                                Inicialmente tende a ser fechado mas gradualmente vai adquirindo gestos mais abertos e sempre em pouca quantidade.
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-top: 30px; margin-bottom: 250px;">
            <table style="width: 100%">
                <tr>
                    <td class="q4-lett-2" style="width: 7%;">
                        MS
                    </td>
                    <td class="q4-border" style="padding:15px;">
                        <ul>
                            <li>
                                Usam poucas frases e longas relacionando muitos conceitos.
                            </li>
                            <li>
                                São excelentes gramaticalmente e usam  palavras “caras” e lógicas.
                            </li>
                            <li>
                                O tom de voz é tendencialmente monocórdico, calmo e moderado.
                            </li>
                            <li>
                                São pouco expressivos e gostam de silêncios.
                            </li>
                            <li>
                                Pensam muito antes de falar e fisicamente têm gestos curtos e fechados.
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-top: 30px; margin-bottom: 100px;">
            <img style="width:100%;" src="/images/taichi.png">
        </div> 
    </div>
</div>