<div class="container-fluid no-pad" ng-cloak="">
    <div class="main-welcome">
        <div ng-hide="showDetails" style="padding: 0 15px;">
            <h1 class="text-center">Lista de utilizadores</h1> 
            <table datatable="ng" class="row-border hover">
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>Email</td>
                        <td>Local Consulta</td>
                        <td>Codigo Empresarial</td>
                        <td>Data 1ª Consulta</td>
                        <td>Data 2ª Consulta</td>
                        <td>Data 3ª Consulta</td>
                        <td>Data 4ª Consulta</td>
                        <td>Data 5ª Consulta</td>
                        <td>Data 6ª Consulta</td>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in manuelList">
                        <td>{{user.client_detail.name}}</td>
                        <td>{{user.client_detail.email}}</td>
                        <td>{{user.client_detail.locConsulta}}</td>
                        <td>{{user.client_detail.codBis}}</td>
                        <td>{{user.client_history.da_01_01}}</td>
                        <td>{{user.client_history.da_02_01}}</td>
                        <td>{{user.client_history.da_03_01}}</td>
                        <td>{{user.client_history.da_04_01}}</td>
                        <td>{{user.client_history.da_05_01}}</td>
                        <td>{{user.client_history.da_06_01}}</td>       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>