<div class="container-fluid no-pad" ng-cloak="">
    <div class="main-welcome">
        <div ng-hide="showDetails" style="padding: 0 15px;">
            <h1 class="text-center">Lista de consultas Manuel Teixiera</h1> 
            <table datatable="ng" class="row-border hover">
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>Email</td>
                        <td>Local Consulta</td>
                        <td>Codigo Empresarial</td>
                        <td>Data Consulta</td>
                        <td>Data Consulta</td>
                        <td>Data Consulta</td>
                        <td>Data Consulta</td>
                        <td>Data Consulta</td>
                        <td>Data Consulta</td>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in manuelList">
                        <td>{{user.client_detail.name}}</td>
                        <td>{{user.client_detail.email}}</td>
                        <td>{{user.client_detail.locConsulta}}</td>
                        <td>{{user.client_detail.codBis}}</td>
                        <td ng-show="user.consultDateWithCupon_01">{{user.consultDateWithCupon_01}}</td>
                        <td ng-show="user.consultDateWithCupon_02">{{user.consultDateWithCupon_02}}</td>
                        <td ng-show="user.consultDateWithCupon_03">{{user.consultDateWithCupon_03}}</td>
                        <td ng-show="user.consultDateWithCupon_04">{{user.consultDateWithCupon_04}}</td>
                        <td ng-show="user.consultDateWithCupon_05">{{user.consultDateWithCupon_05}}</td>
                        <td ng-show="user.consultDateWithCupon_06">{{user.consultDateWithCupon_06}}</td>       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>