<div class="main-welcome welcome-program">
    <div class="col-sm-6 col-sm-offset-3 text-center">
        <h1 class="text-center" style="color: green; font-weight: bold; font-size: 52px;">Bem-vindo à Healthy Habits</h1>
        <div>
            <div ng-show="typeTitle">
                <h2 class="text-center" style="font-weight: bold;">Obrigado pela sua preferência</h2>
                <h3 class="text-center" style="font-size: 22px;">Por favor siga o link em baixo para se registar e aceder à sua área pessoal</h3>
                <div class="text-center">
                    <a href="/"><i class="fa fa-sign-in enter-sign" aria-hidden="true"></i></a>
                </div>
            </div>

            <div ng-show="errormessage">
                <p>existe algum problema com o link enviado por favor entre em contacto connosco</p> 
            </div>
        </div>
    </div>
</div>