<div class="main-welcome" style="margin-top: 80px; margin-bottom: 80px;">
        <h1>Bom dia alegria</h1>
        <div id="esconder">
            <h1>Bem vindo á Viver com Saúde e desde já obrigado pela preferência.</h1>
            <h4>Por favor siga o link em baixo para responder ao questionário</h4>
            <a href="#/form">Questionário</a>
            <br>
            <h4>Ainda não submeteu o questionario</h4>
            <h4>Falta 70% para finalizar o questionário</h4>
            
            <h1 id="dash" style="display: none;">Temos de criar um dashboard, com data da proxima consulta, link para download do plano e afins</h1>
        </div>
    </div>