<div class="div-height-inner">
    <div class="col-sm-6 col-sm-offset-3 div-shadow-style">
        <!-- <h2 class="h3-welcome text-center">Estamos aqui para o orientar no alcance dos seus objectivos.</h2> -->
        <h3 class="h3-welcome text-center">Carregue no botão para preencher os seus dados pessoais.</h3>
        <!-- <p class="text-center"><i class="fa fa-chevron-down" aria-hidden="true"></i></p> -->
        <div class="text-center"> 
            <button class="data-button-grey" ng-click="showPersonDetails()">DADOS PESSOAIS</button>
        </div>
        <h3 class="h3-welcome text-center">Ajude-nos a conhecê-lo melhor preenchendo ao máximo o QUESTIONÁRIO FUNCIONAL.</h3>
        <div class="text-center">
            <button class="text-center data-button-blue" ng-click="showPersonQuiz()">QUESTIONÁRIO FUNCIONAL</button> 
        </div>
    </div>
</div>    