<div class="div-height-inner div-shadow-style-pad15">
    <div class="row">
        <div class="col-sm-7">
            <div class="form-group">
                <label for="InputName">Nome Completo</label>
                <input type="text" class="form-control" id="InputName" ng-model="clientDetail.name">
            </div>
        </div>
        <div class="col-sm-1">
            <label> Sexo
                <div class="radio" style="margin-top: 0;">
                    <label class="radio-inline">
                        <input type="radio" ng-model="clientDetail.sex" value="masculino">
                        Masculino
                    </label>
                    <label class="radio-inline" style="margin-left: 0;">
                        <input type="radio" ng-model="clientDetail.sex" value="feminino">
                        Feminino
                    </label>
                </div>
            </label>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <label for="dayBirth">Dia</label>
                <select ng-model="clientDetail.dayBirth" class="form-control" id="dayBirth" ng-options="x for x in dayList"></select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="monthBirth">Mês</label>
                <select ng-model="clientDetail.monthBirth" class="form-control" id="monthBirth" ng-options="x for x in monthList">
                </select>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <label for="yearBirth">Ano</label>
                <input type="text" class="form-control" id="yearBirth" ng-model="clientDetail.yearBirth" maxlength="4">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4" ng-hide="clientDetail.codBis">
            <div class="form-group">
                <label for="InputLConsulta">Local / Ginásio / Box</label>
                <select ng-model="clientDetail.locConsulta" class="form-control" id="InputLConsulta" ng-options="x for x in consultLocal">
                </select>
            </div>
        </div>
        <div class="col-sm-4" ng-show="clientDetail.codBis">
            <div class="form-group">
                <label for="CodEmpresarial">Código Empresarial</label>
                <input type="text" class="form-control" id="CodEmpresarial" placeholder="Se atribuido um código, preencha aqui" ng-model="clientDetail.codBis">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="InputPhone">Telefone</label>
                <input type="text" class="form-control" id="InputPhone" ng-model="clientDetail.phone">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="InputEmail">Email</label>
                <input type="text" class="form-control" id="InputEmail" ng-model="clientDetail.email">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="InputProfession">Profissão</label>
                <input type="text" class="form-control" id="InputProfession" ng-model="clientDetail.profession">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <label>Prefiro ser contactado pelos seguintes meios:</label>
            <br>
            
            <label for="authsms" class="checkbox-inline">
                <input type="checkbox" id="authsms" ng-model="clientDetail.authorize.sms"> SMS
            </label>
            <label for="authemail" class="checkbox-inline">
                <input type="checkbox" id="authemail" ng-model="clientDetail.authorize.email"> Email
            </label>
            <label for="authetelefone" class="checkbox-inline">
                <input type="checkbox" id="authtelefone" ng-model="clientDetail.authorize.telefone"> Telefone
            </label>
            <label for="authnewsletter" class="checkbox-inline">
                <input type="checkbox" id="authnewsletter" ng-model="clientDetail.authorize.newsletter"> Newsletter
            </label>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="InputCupon">Cupão</label>
                <input type="text" class="form-control" id="InputCupon" ng-model="clientDetail.cuponPt">
            </div>
        </div>
        <div class="col-sm-2" ng-show="clientDetail.downloadURL">
            <div class="col-sm-8" style="padding: 0;">
                <label>Download Plano Nutricional</label>
            </div>
            <div class="col-sm-4" style="padding: 0;">
                <a ng-href="{{clientDetail.downloadURL}}" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- <div class="col-sm-2" ng-show="clientDetail.oneDriveLink">
            <label>Link OneDrive</label>
            <a ng-href="{{clientDetail.oneDriveLink}}" target="_blank">Link OneDrive</a>
        </div> -->
    </div>

    <div class="row">
        <div class="col-sm-12"> 
            <div class="form-group">
                <label for="InputMorada">Morada</label>
                <input type="text" class="form-control" id="InputMorada" ng-model="clientDetail.address">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="InputCodPostal">Código Postal</label>
                <input type="text" class="form-control" id="InputCodPostal" ng-model="clientDetail.zipcode">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="InputLocalidade">Localidade</label>
                <input type="text" class="form-control" id="InputLocalidade" ng-model="clientDetail.place">
            </div>
        </div>
        <div class="col-sm-6">
            <label for="InputNif">N Contribuinte</label>
            <input type="text" class="form-control" id="InputNif" ng-model="clientDetail.nif">
        </div>   
    </div>

    <br>
    
    <div class="text-center">   
        <button class="btn btn-success button-style text-center" ng-click="saveUserDetails()">Gravar</button>
    </div>
</div>
