<div class="col-sm-12">
    <h4>Tem algum dos seguintes problemas de saúde?</h4>
</div>
<div class="col-sm-12">
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_1">
                Excesso de peso
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_2">
                Anorexia/Bulimia/Compulsividade alimentar
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_3">
                Hipertensão arterial
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_4">
                Cardíaco
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_5">
                Diabetes mellitus tipo I
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_6">
                Diabetes mellitus tipo II
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_7">
                Asma
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_8">
                Anemia
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_9">
                AVC/AIT
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_10">
                Epilepsia
            </label>
        </div>
    </div>
    <!--<div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_11">
                Tuberculose
            </label>
        </div>
    </div>-->
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_12">
                Fibromialgia
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_13">
                Hiperuricémia
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_14">
                Febre reumática
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_15">
                Problemas de mastigação ou deglutição
            </label>
        </div>
    </div>
    <div class="col-sm-12" style="display: inline-flex;">
        <div class="checkbox" style="margin-right: 10px;">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz12_16">
                Outros?
            </label>
        </div>
        <div ng-show="clientForm.quiz12_16" style="display: inline-flex; width: 100%;">
            <input class="form-control" type="text" ng-model="clientForm.quiz12_16_1">
        </div>
    </div>
</div>
<div class="col-sm-12" style="margin: 15px 0;">
    <div style="border-bottom: 1px lightgrey solid; width: 70%; margin:auto ;"></div>
</div>