<div class="col-sm-12">
    <h4>Como classifca o seu sono?</h4>
</div>
<div class="col-sm-12">
    <div class="col-sm-1">
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientForm.quiz23_1" value="1">
                Mau
            </label>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientForm.quiz23_1" value="2">
                Insuficiente
            </label>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientForm.quiz23_1" value="3">
                Suficiente
            </label>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientForm.quiz23_1" value="4">
                Bom
            </label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientForm.quiz23_1" value="5">
                Muito Bom
            </label>
        </div>
    </div>
</div>
<div class="col-sm-12" style="margin: 15px 0;">
    <div style="border-bottom: 1px lightgrey solid; width: 70%; margin:auto ;"></div>
</div>