<div class="col-sm-12">
    <h4 class="newH4">Alimentos que não gosta</h4>
</div>

<div class="col-sm-12 no-pad-left no-pad-right">
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz10_1">
                Lacticínios (leite, iogurte, queijo)
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz10_2">
                Cereais e derivados (arroz, massa, batata)
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz10_3">
                Leguminosas
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz10_4">
                Frutas
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz10_5">
                Carnes/Pescado/Ovos
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz10_6">
                Gorduras (manteiga, óleos)
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz10_7">
                Vegetais/Legumes
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz10_8">
                Sementes alimentares ou frutos secos
            </label>
        </div>
    </div>
</div>
<div class="col-sm-12" style="display: inline-flex;">
    <div class="checkbox" style="margin-right: 10px; width: 20%;">
        <label>
            <input type="checkbox" ng-model="clientForm.quiz10_9">
            Alimentos que não gosta
        </label>
    </div>
    <div ng-show="clientForm.quiz10_9" style="display: inline-flex; width: 100%;">
        
        <input class="form-control" type="text" ng-model="clientForm.quiz10_9_1">
    </div>
</div>   
   

<div class="col-sm-12" style="margin: 15px 0;">
    <div style="border-bottom: 1px lightgrey solid; width: 70%; margin:auto ;"></div>
</div>