<div class="col-sm-12">
    <h4 class="newH4">Outros Hábitos</h4>
</div>
<div class="col-sm-12 no-pad-left no-pad-right">
    <div class="col-sm-3" style="display: inline-flex;">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz08_1">
                Consome bebidas alcoólicas?
            </label>
        </div>
    </div>
    <div class="col-sm-9" ng-show="clientForm.quiz08_1" style="display: inline-flex;">
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz08_1_1">
                    Vinho
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz08_1_2">
                    Bebidas brancas
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientForm.quiz08_1_3">
                    Cerveja
                </label>
            </div>
        </div>
    </div>

    <div class="col-sm-12 no-pad-left no-pad-right" ng-show="clientForm.quiz08_1">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz08_3" value="1">
                    1 vez por mês ou menos
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz08_3" value="2">
                    2 a 4 vezes por mês
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz08_3" value="3">
                    2 a 3 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz08_3" value="4">
                    4 ou mais vezes por mês
                </label>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12" style="display: inline-flex;">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="clientForm.quiz08_2">
            Fuma?
        </label>
    </div>
    <div ng-show="clientForm.quiz08_2" style="display: inline-flex; width: 24%;">
        <label class="label-qual-cigarro no-bold-label" style="width: 92%;">
            Quantos cigarros por dia?
        </label>
        <input type="number" style="width: 26%" class="form-control" step="1" min="1" placeholder="1" value="1" ng-model="clientForm.quiz08_2_1">
    </div>   
</div>

<div class="col-sm-12" style="margin: 15px 0;">
    <div style="border-bottom: 1px lightgrey solid; width: 70%; margin:auto ;"></div>
</div>