<div class="col-sm-12">
    <h4>Consome alguns dos seguintes produtos?</h4>
</div>
<div class="col-sm-12">
    <div class="col-sm-1" style="display: inline-flex;">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz07_9">
                Água
            </label>
        </div>
    </div>
    <div class="col-sm-10" ng-show="clientForm.quiz07_9" style="display: inline-flex;">
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_9_1" value="1">
                    0 - 0,5lt
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_9_1" value="2">
                    0,5 - 1lt
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_9_1" value="3">
                    1 - 1,5lt
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_9_1" value="4">
                    1,5 - 2lt
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_9_1" value="5">
                    2 - 2,5lt
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_9_1" value="6">
                    > 2,5lt
                </label>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-2" style="display: inline-flex;">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz07">
                Refrigerantes
            </label>
        </div>
    </div>
    <div class="col-sm-10" ng-show="clientForm.quiz07" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_1" value="1">
                    Diariamente
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_1" value="2">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_1" value="3">
                    1 ou menos vezes por semana
                </label>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-12" style="display: inline-flex;">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz07_2">
                Café
            </label>
        </div>
        <div ng-show="clientForm.quiz07_2" style="display: inline-flex; width: 26%;">
            <label class="label-qual-cigarro" style="width: 63%;">
                Quantos por dia?
            </label>
            <input type="number" style="width: 29%" class="form-control" step="1" min="1" placeholder="1" value="1" ng-model="clientForm.quiz07_2_1">
        </div>   
        <div class="col-sm-12" ng-show="clientForm.quiz07_2" style="display: inline-flex;">
            <label style="margin-top: 9px;">Usa:</label>
            <div class="col-sm-2">
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="clientForm.quiz07_3_1" value="1">
                        Adoçante
                    </label>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="clientForm.quiz07_3_1" value="2">
                        Açucar
                    </label>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="clientForm.quiz07_3_1" value="3">
                        Nada
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-2" style="display: inline-flex;">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz07_4">
                Bolos ou doces
            </label>
        </div>
    </div>
    <div class="col-sm-10" ng-show="clientForm.quiz07_4" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_4_1" value="1">
                    Diariamente
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_4_1" value="2">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_4_1" value="3">
                    1 ou menos vezes por semana
                </label>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-2" style="display: inline-flex;">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz07_5">
                Bebidas desportivas
            </label>
        </div>
    </div>
    <div class="col-sm-10" ng-show="clientForm.quiz07_5" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_5_1" value="1">
                    Diariamente
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_5_1" value="2">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_5_1" value="3">
                    1 ou menos vezes por semana
                </label>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-2" style="display: inline-flex;">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz07_6">
                Produtos charcutaria
            </label>
        </div>
    </div>
    <div class="col-sm-10" ng-show="clientForm.quiz07_6" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_6_1" value="1">
                    Diariamente
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_6_1" value="2">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_6_1" value="3">
                    1 ou menos vezes por semana
                </label>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-2" style="display: inline-flex;">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz07_7">
                Snacks salgados
            </label>
        </div>
    </div>
    <div class="col-sm-10" ng-show="clientForm.quiz07_7" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_7_1" value="1">
                    Diariamente
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_7_1" value="2">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_7_1" value="3">
                    1 ou menos vezes por semana
                </label>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-2" style="display: inline-flex;">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz07_8">
                Fast food
            </label>
        </div>
    </div>
    <div class="col-sm-10" ng-show="clientForm.quiz07_8" style="display: inline-flex;">
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_8_1" value="1">
                    Diariamente
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_8_1" value="2">
                    3 a 4 vezes por semana
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz07_8_1" value="3">
                    1 ou menos vezes por semana
                </label>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12" style="margin: 15px 0;">
    <div style="border-bottom: 1px lightgrey solid; width: 70%; margin:auto ;"></div>
</div>