<div class="container dash">
    <div class="col-sm-12 text-center">
        <h3>Nº Inscritos</h3>
        <div style="display: inline-flex">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            <p class="dash-p">{{contCGI}}</p>
        </div>
    </div>
    <div google-chart chart="tipoSexo" style="height:600px; width:100%; margin-top: 150px;"></div>

    <div google-chart chart="tipoObjectivos" style="height:600px; width:100%; margin-top: 25px;"></div>
    
    <div google-chart chart="tipoMotivacao" style="height:600px; width:100%; margin-top: 25px;"></div>
    
    <div google-chart chart="tipoVcsMotivacao" style="height:600px; width:100%; margin-top: 25px;"></div>
    
    <div google-chart chart="tipoAlimenta" style="height:600px; width:100%; margin-top: 25px;"></div>
    
    <div google-chart chart="tipoAgua" style="height:600px; width:100%; margin-top: 25px;"></div>

    <div google-chart chart="tipoConsome" style="height:600px; width:100%; margin-top: 25px;"></div>

    <div google-chart chart="tipoConsomeRef" style="height:600px; width:100%; margin-top: 25px;"></div>

    <div google-chart chart="tipoConsomeCafe" style="height:600px; width:100%; margin-top: 25px;"></div>

    <div google-chart chart="tipoConsomeAdoc" style="height:600px; width:100%; margin-top: 25px;"></div>

    <div google-chart chart="tipoConsomeBolos" style="height:600px; width:100%; margin-top: 25px;"></div>  

    <div google-chart chart="tipoConsomeFast" style="height:600px; width:100%; margin-top: 25px;"></div>  

    <div google-chart chart="tipoSaude" style="height:600px; width:100%; margin-top: 25px;"></div>

    <div google-chart chart="tipoMedicacao" style="height:600px; width:100%; margin-top: 25px;"></div>

    <div google-chart chart="tipoExercicio" style="height:600px; width:100%; margin-top: 25px;"></div>
    
    <div google-chart chart="tipoExercicioFreq" style="height:600px; width:100%; margin: 25px 0"></div>
</div>