html {
  background-color: #f2f2f2;
}
body {
  padding: 0;
  background-color: transparent !important;
}
h1 {
  margin-top: 0;
}
.newH4 {
  font-size: 14px;
  font-weight: bold;
}
.no-pad-left {
  padding-left: 0;
}
.no-pad-right {
  padding-right: 0;
}
.more-pad {
  padding: 0 15px;
}
.checkbox-title, .radio-title {
  margin-top: 7px;
}
.panel-title > a > span {
  font-size: 14px !important;
  font-weight: bold;
}
.panel {
  background-color: rgba(255, 255, 255, 0.9);
}
.panel-default > .panel-heading {
  background-color: transparent;
}
.panel-default {
  border-color: transparent;
}
.quiz-box {
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
/* NAVBAR*/
.navbar {
  min-height: 75px;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-default {
  background-color: #424242;
  border: 0;
}
.logo-style {
  height: 45px;
  margin-top: 10px;
}
.navbar-brand {
  padding: 5px 0;
}
#loginWindow{
  background-color: lightgray;
  padding: 10px 10px;
}
#newUserWindow {
  background-color: lightgray;
  padding: 10px 10px;
}
.main-login {
 /* width: 500px;
  margin: auto;*/
}
.main-login input {
  margin-bottom: 30px;
  border-radius: 0;
}
.main-login button {
  width: 100%;
  border-radius: 0;
}
.main-log-user {
  color: white;
  font-size: 18px;
}
.main-log-user a {
  color: white; 
}
.main-log-window button {
  float: right;
  margin-top: 20px;
}
.form-frame h4 {
  font-weight: bold;
}
/* .form-control {
  border: none;
} */
.table > tbody > tr > td.td-style {
  padding: 6px 3px;
}
.table > tbody > tr > td.td-title {
  vertical-align: middle;
}
.table {
  margin-bottom: 0;
}
.label-qual {
  margin-top: 10px;
  width: 30%;
}
.label-qual-cigarro {
  margin-top: 10px;
  margin-right: 10px;
  width: 22%;
  margin-left: 10px;
}
.md-datepicker-input-container {
  width: 168px;
}
/* FOOTER */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* --------------------- */
.buttonMenu {
  background-color: transparent;
  color: white;
  border-right: 1px white solid;
  border-radius: 0;
  padding: 0 12px;
  margin-top: 25px;
}
.buttonMenu:hover, .buttonMenu:focus, .buttonMenu:active {
  color: white;
  text-decoration: underline;
}
.buttonMenuRight {
  border-right: 0;
}
.button-style {
  border: none;
  /* border-radius: 0; */
  padding: 6px 20px;
  margin: 0 5px;
  width: 110px;
}
.button-log {
  background-color: #2952a3;
}
.button-log:hover {
  background-color: #1f3d7a;
}
.btn:focus,
.btn-info:focus, 
.btn-info:hover,
.newUserButton:focus,
.newUserButton:hover {
  outline: none;
}
.newUserButton {
  padding: 8px 0;
  border: none;
  background: none;
  font-size: 14px;
  color: black;
}
.main-welcome input {
  border-radius: 0;
}
tr {
  border-color: black;
}
.form-control:focus {
  border-color: black;
}
textarea {
  width: 100%;
  /* border: 0; */
  height: 75px;
  box-sizing: border-box;
  resize: vertical;
}

.panel-title > a > span {
  margin-left: 15px;
  font-size: 23px;
}

.footer-style {
  background-color: white; 
  height: 40px; 
  padding-top: 10px;
}

.form-control {
    border-radius: 0;
}

.md-padding {
  padding-top: 0;
}
.no-pad {
  padding: 0;
}
.dashTitle {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.dashValue {
  font-weight: bold;
  font-size: 55px;
  text-align: center;
}
.dashValueProx {
  font-weight: bold;
  font-size: 55px;
  text-align: center;
}
.dashBox {
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
}
.welcome-style {
  width: 80%; 
  padding-top: 245px;
}
.details-style {
  margin-top: 125px;
}
.welcome-program {
  margin-top: 250px;
}
.enter-sign {
  font-size: 60px;
}
.margin-admin-menu {
  margin-left: 317px;
}
@media screen and (max-width: 1366px) {
  .welcome-style {
    width: 80%; 
    padding-top: 90px;
  }
  .details-style {
    margin-top: 60px;
  }
  .margin-admin-menu {
    margin-left: 228px;
  }
  .dashValueProx {
    font-weight: bold;
    font-size: 44px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .footer-style {
      height: 80px;
  }
  .welcome-style {
    width: 100%; 
    padding-top: 90px;
  }
  .button-style {
    border: none;
    /* border-radius: 0; */
    padding: 6px 10px;
    margin: 0 5px;
  }
  .navbar-brand {
    margin-left: 15px;
  }
  .navbar-header {
    min-height: 75px;
  }
  .navbar-toggle {
    margin-top: 20px;
  }
  .buttonMenu {
    border: none;
  }
}
