
    <div class="col-sm-12">
        <h4 class="newH4">Como conheci a Viver com Saúde</h4>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-3 no-pad-left">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz01" value="1">
                    Através de um amigo
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz01" value="2">
                    Pela Internet
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz01" value="3">
                    Pela BeFunctional
                </label>
            </div>
        </div>
        <div class="col-sm-3 no-pad-right">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="clientForm.quiz01" value="5">
                    Através da minha empresa
                </label>
            </div>
        </div>
        <div class="col-sm-9 no-pad-left" style="display: inline-flex;">
            <div class="radio" style="margin-right: 10px;">
                <label>
                    <input type="radio" ng-model="clientForm.quiz01" value="4">
                    Outro/s?
                </label>
                <div ng-show="clientForm.quiz01 == '4'" style="display: inline-flex; width: 100%;">
                    <input class="form-control" type="text" ng-model="clientForm.quiz01_1">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="margin: 15px 0;">
        <div style="border-bottom: 1px lightgrey solid; width: 70%; margin:auto ;"></div>
    </div>
