<div class="col-sm-12">
    <h4>Os meus principais objectivos</h4>
</div>
<div class="col-sm-12">
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz02_1">
                Diminuir massa gorda
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz02_2">
                Melhorar condição física (força, agilidade, flexibilidade)
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz02_3">
                Melhorar saúde
            </label>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz02_4">
                Preparar para prova
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz02_5">
                Diminuição do peso corporal
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz02_6">
                Aumentar massa muscular
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz02_8">
                Melhorar hábitos alimentares
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz02_9">
                Procurar orientação
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz02_10">
                Planear Rotina Diária
            </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz02_11">
                Ser Mais Activo
            </label>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-12" style="display: inline-flex;">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="clientForm.quiz02_7">
                Outro/s
            </label>
        </div>
        <div ng-show="clientForm.quiz02_7" style="display: inline-flex; width: 100%;">
            <label class="label-qual" style="width: 9%;">Qual/Quais?</label>
            <input class="form-control" type="text" ng-model="clientForm.quiz02_7_1">
        </div>
    </div>
<div>
<div class="col-sm-12" style="margin: 15px 0;">
    <div style="border-bottom: 1px lightgrey solid; width: 70%; margin:auto ;"></div>
</div>