<div class="col-sm-12">
    <h4>Como conheci a Viver com Saúde</h4>
</div>
<div class="col-sm-12">
    <div class="col-sm-3">
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientForm.quiz01" value="1" ng-disabled="clientDetail.isQuizFuncBlock">
                Através de um amigo
            </label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientForm.quiz01" value="2" ng-disabled="clientDetail.isQuizFuncBlock">
                Pela Internet
            </label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientForm.quiz01" value="3" ng-disabled="clientDetail.isQuizFuncBlock">
                Pela BeFunctional
            </label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientForm.quiz01" value="5" ng-disabled="clientDetail.isQuizFuncBlock">
                Através da minha empresa
            </label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="radio">
            <label>
                <input type="radio" ng-model="clientForm.quiz01" value="4" ng-disabled="clientDetail.isQuizFuncBlock">
                Outro
            </label>
        </div>
        <!-- <div class="col-sm-6" ng-show="clientForm.quiz2_7" style="display: inline-flex;">
            <label class="label-qual">Qual?</label>
            <input class="form-control" type="text" ng-model="clientForm.quiz2_7_1">
        </div>-->
    </div>
</div>
<div class="col-sm-12" style="margin: 15px 0;">
    <div style="border-bottom: 1px lightgrey solid; width: 70%; margin:auto ;"></div>
</div>